
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Amp It Up is a UX Agency that also provides a full digital marketing suite.">
        
        <meta name="author" content="Elisha Kramer">
		
        <title>Amp It Up</title>
		
		<!-- Mobile Specific Meta
		================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Favicon -->
		<link rel="icon" href="images/amp.PNG" />
		
		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="plugins/themefisher-font/style.css">
		<!-- bootstrap.min css -->
        <link rel="stylesheet" href="plugins/bootstrap/dist/css/bootstrap.min.css">
		<!-- Animate.css -->
        <link rel="stylesheet" href="plugins/animate-css/animate.css">
        <!-- Magnific popup css -->
        <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
		<!-- Slick Carousel -->
        <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
        <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/style.css">

			
    </head>
	
    <body id="body" data-spy="scroll" data-target=".navbar" data-offset="50">

 <!--
Welcome Slider
==================================== -->

<section class="hero-area">
	<div class="block">
		<div class="video-button">
			<i>אמפ את אפ</i>

		</div>
		<h1>Amp It Up</h1>
		<p>Our focus is on helping our clients achieve great UX while putting together unique Social Media strategies to maximize exposure to their target audience.</p>
		<a data-scroll href="#services" class="btn btn-transparent">Explore Us</a>
	</div>
</section>	

 <!-- 
  Fixed Navigation
  ==================================== -->
    <header id="navigation" class="navbar navigation">
        <div class="container">
            <div class="navbar-header">
              <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /responsive nav button -->
    
                <!-- logo -->
                <a class="navbar-brand logo" href="#body">
                    <!-- <img src="images/logo.png" alt="Website Logo" /> -->
                    <svg width="40px" height="40px" viewBox="0 0 45 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Group" transform="translate(2.000000, 2.000000)" stroke="#57CBCC" stroke-width="3">
                                <ellipse id="Oval" cx="20.5" cy="20" rx="20.5" ry="20"></ellipse>
                                <path d="M6,7 L33.5,34.5" id="Line-2" stroke-linecap="square"></path>
                                <path d="M21,20 L34,7" id="Line-3" stroke-linecap="square"></path>
                            </g>
                        </g>
                    </svg>
                </a>
            <!-- /logo -->
        </div>

        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="Navigation">
            <ul id="nav" class="nav navbar-nav navigation-menu">
                <li><a data-scroll href="#body">Home</a></li>
                <li><a data-scroll href="#services">Services</a></li>
                <li><a data-scroll href="#our-team">Team</a></li>
                <li><a data-scroll href="#pricing">Pricing</a></li>
                <li><a data-scroll href="#blog">Blog</a></li>
                <li><a data-scroll href="#contact-us">Contact</a></li>
            </ul>
        </nav>
        <!-- /main nav -->
  
      </div>
  </header>
  <!--
  End Fixed Navigation
  ==================================== -->

<!--
		Start About Section
		==================================== -->
		<section class="bg-one about section">
			<div class="container">
				<div class="row">
				
					<!-- section title -->
					<div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
						<h2>About <span class="color">Us</span> </h2>
						<div class="border"></div>
					</div>
					<!-- /section title -->
					
					<!-- About item -->
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
						<div class="block">							
							<div class="icon-box">
								<i class="tf-tools"></i>
							</div>					
							<!-- Express About Yourself -->
							<div class="content text-center">
								<h3 class="ddd">Creativity</h3>								
								<p>We create User Experiences that match your business goals. When your clients are happy, so is your Monthly Recurring Revenue.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
						<div class="block">
							<div class="icon-box">
								<i class="tf-strategy"></i>
							</div>
							<!-- Express About Yourself -->
							<div class="content text-center">
								<h3>& Strategy</h3>
								<p class="teaser">We've helped our clients multiply their Monthly Recurring Revenue many times over. Our aim is to think differently, and tackle your design and feature requirements with a clear head and quality execution.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->					
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="block kill-margin-bottom">
							<div class="icon-box">
								<i class="tf-anchor2"></i>
							</div>
							<!-- Express About Yourself -->
							<div class="content text-center">
								<h3>& User Journeys</h3>
								<p>The end goal of everything we do is helping our clients define User Journies that speeden up onboarding and prolong retention.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
				</div> 		<!-- End row -->
			</div>   	<!-- End container -->
		</section>   <!-- End section -->

<!-- Start Services Section
==================================== -->

<section id="services" class="bg-one section">
	<div class="container">
		<div class="row">
			
			<!-- section title -->
			<div class="title text-center wow fadeIn" data-wow-duration="500ms">
				<h2>Our <span class="color">Services</span></h2>
				<div class="border"></div>
			</div>
			<!-- /section title -->
			
            <!-- Single Service Item -->
			<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-globe"></i>
					</div>
					<h3>App Development</h3>
					<p>We use the latest JavaScript technologies to build you the app that matches your vision.</p>
				</div>
			</article>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
			<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-laptop"></i>
					</div>
					<h3>Automation</h3>
					<p>We guide you on User Growth strategies to open up your leads pipeline.</p>
				</div>
			</article>
            <!-- End Single Service Item -->
			
            
             <!-- Single Service Item -->
			<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-genius"></i>
					</div>
					<h3>Intercom Campaigns</h3>
					<p>Are you using the Intercom CRM? Let's optimize your communication and relationship-building.</p>
				</div>
			</article>
			<!-- End Single Service Item -->
			
			<!-- Single Service Item -->
			<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-dial"></i>
					</div>
					<h3>Content</h3>
					<p>Need your FAQ Section written?</p>
				</div>
			</article>
			<!-- End Single Service Item -->
			
			<!-- Single Service Item -->
			<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-target3"></i>
					</div>
					<h3>Business Intelligence</h3>
					<p>We create custom dashboards that allow you to analyze client engagement and milestones.</p>
				</div>
			</article>
			<!-- End Single Service Item -->
			
			<!-- Single Service Item -->
			<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="service-block text-center kill-margin-bottom">
					<div class="service-icon text-center">
						<i class="tf-lifesaver"></i>
					</div>
					<h3>Google Analytics</h3>
					<p>...to measure your performance.</p>
				</div>
			</article>
			<!-- End Single Service Item -->
				
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->
	

<!-- Start Team Skills
		=========================================== -->
		
		<section id="team-skills" class="parallax-section section section-bg overly">
			<div class="container">
				<div class="row" >
					<!-- section title -->
					<div class="col-md-12">
						<div class="title text-center">
							<h2>Our <span class="color">Skills</span></h2>
							<div class="border"></div>
						</div>
					</div>
					<!-- /section title -->
				</div>  		<!-- End row -->
				<div class="row">
					<div class="col-md-6">
						<h2>At the intersection of feng shui and intuition</h2>
							<img class="img-responsive" src="images/about/company-growth.png" alt="">
					</div>
					<div class="col-md-6">
						<ul class="skill-bar">
							<li>
								<p><span>01-</span> Web Development</p>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="70"
									aria-valuemin="0" aria-valuemax="100" style="width:90%">
									</div>
								</div>
							</li>
							<li>
								<p><span>02-</span> Analysis</p>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="70"
									aria-valuemin="0" aria-valuemax="100" style="width:70%">
									</div>
								</div>
							</li>
							<li>
								<p><span>03-</span> Design</p>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="70"
									aria-valuemin="0" aria-valuemax="100" style="width:85%">
									</div>
								</div>
							</li>
							<li>
								<p><span>04-</span> User Journeys</p>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="70"
									aria-valuemin="0" aria-valuemax="100" style="width:60%">
									</div>
								</div>
							</li>
							
						</ul>
					</div>
				</div>
			</div>   	<!-- End container -->
		</section>   <!-- End section -->

<!--
Start Counter Section
==================================== -->
		
<section id="counter" class="parallax-section bg-1 section overly">
	<div class="container">
		<div class="row">
		
			<!-- first count item -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
				<div class="counters-item">
					<i class="tf-ion-android-happy"></i>
					<span data-speed="3000" data-to="320">320</span>
					<h3>Happy Clients</h3>
				</div>
			</div>
			<!-- end first count item -->
		
			<!-- second count item -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="counters-item">
					<i class="tf-ion-archive"></i>
					<span data-speed="3000" data-to="565">565</span>
					<h3>Projects completed</h3>
				</div>
			</div>
			<!-- end second count item -->
		
			<!-- third count item -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="counters-item">
					<i class="tf-ion-thumbsup"></i>
					<span data-speed="3000" data-to="95">95</span>
					<h3>Positive feedback</h3>
					
				</div>
			</div>
			<!-- end third count item -->
			
			<!-- fourth count item -->
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="counters-item kill-margin-bottom">
					<i class="tf-ion-coffee"></i>
					<span data-speed="3000" data-to="2500">2500</span>
					<h3>Cups of Coffee</h3>
				</div>
			</div>
			<!-- end fourth count item -->
			
		</div> 		<!-- end row -->
	</div>   	<!-- end container -->
</section>   <!-- end section -->

<!-- 
Start Our Team
=========================================== -->

<section id="our-team" class="section">
	<div class="container">
		<div class="row">
		
			<!-- section title -->
			<div class="title text-center wow fadeInUp" data-wow-duration="500ms">
				<h2>Our <span class="color">Team</span></h2>
				<div class="border"></div>
			</div>
			<!-- /section title -->
			
			<!-- team member -->
			<div class="col-md-3 col-sm-6 col-xs-12  wow fadeInDown" data-wow-duration="500ms">
               <div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-responsive" src="images/team/team-1.jpg" alt="Meghna">
						<!-- /member photo -->
						
						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>
					
					<!-- member name & designation -->
					<div class="member-meta">
						<h4>Yossi Klein</h4>
						<span>Business Intelligence</span>
						<p>Yossi is passionate about seeing his clients succeed. He has scaled businesses like Spiderman scales walls.</p>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				   
               </div>
            </div>
			<!-- end team member -->
			
			<!-- team member -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
               <div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-responsive" src="images/team/team-2.jpg" alt="Meghna">
						<!-- /member photo -->
						
						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>
					
					<!-- member name & designation -->
					<div class="member-meta">
						<h4>Frank Miller</h4>
						<span>Campaign Manager</span>
						<p>Frank crafts automation strategies across a wide variety of networks. He's been there and seen it all when it comes to Growth Hacking.</p>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
            </div>
			<!-- end team member -->
			
			<!-- team member -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
               <div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-responsive" src="images/elisha.png" alt="Meghna">
						<!-- /member photo -->
						
						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>
					
					<!-- member name & designation -->
					<div class="member-meta">
						<h4>Elisha Kramer</h4>
						<span>Web Developer</span>
						<p>Elisha is skilled in the latest JavaScript frameworks and libraries and can put together a great experience for the end-user.</p>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
               </div>
            </div>
			<!-- end team member -->
			
			<!-- team member -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
               <div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-responsive" src="images/team/team-4.jpg" alt="Meghna">
						<!-- /member photo -->
						
						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>
					
					<!-- member name & designation -->
					<div class="member-meta">
						<h4>Tali Rosenblum</h4>
						<span>SEO Specialist</span>
						<p>Tali loves to transform HTML to highly respected markup which the Google Crawlers love. Give her a chance to amp your organic incoming leads.</p>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
               </div>
            </div>
			<!-- end team member -->
			
		</div>  	<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->
		

<!-- Start Pricing section
		=========================================== -->
		
		<section id="pricing" class="pricing section">
			<div class="container">
				<div class="row">
					
					<!-- section title -->
				    <div class="title text-center wow fadeInDown" data-wow-duration="500ms">
			        	<h2>Our Greatest<span class="color"> Plans</span></h2>
				        <div class="border"></div>
				    </div>
				    <!-- /section title -->
					
					<!-- single pricing table -->
					<div class="col-md-4 col-sm-6 col-xs-12 text-center wow fadeInUp" data-wow-duration="200ms">
						<div class="price-item">
							
							<!-- plan name & value -->
							<div class="price-title">
								<h3>Starter</h3>
								<p><strong class="value">$500</strong>/ month</p>
							</div>
							<!-- /plan name & value -->
							
							<!-- plan description -->
							<ul>
								<li>LinkedIn Automation</li>
								<li>Campaign Content</li>
								<li>Retargeting on Social Media</li>
								<li>VIP Feeling</li>
							</ul>
							<!-- /plan description -->
							
							<!-- signup button -->
							<a class="btn btn-transparent" href="#">Signup</a>
							<!-- /signup button -->
							
						</div>
					</div>
					<!-- end single pricing table -->
					
					<!-- single pricing table -->
					<div class="col-md-4 col-sm-6 col-xs-12 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="price-item">
						
							<!-- plan name & value -->
							<div class="price-title">
								<h3>Silver</h3>
								<p><strong class="value">$750</strong/>/ month</p>
							</div>
							<!-- /plan name & value -->
							
							<!-- plan description -->
							<ul>
								<li>Everything in Starter</li>
								<li>Twitter Automation</li>
								<li>Lead List Building</li>
								<li>Landing Pages</li>
							</ul>
							<!-- /plan description -->
							
							<!-- signup button -->
							<a class="btn btn-transparent" href="#">Signup</a>
							<!-- /signup button -->
							
						</div>
					</div>
					<!-- end single pricing table -->
					
					<!-- single pricing table -->
					<div class="col-md-4 col-sm-6 col-xs-12 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="750ms">
						<div class="price-item">
						
							<!-- plan name & value -->
							<div class="price-title">
								<h3>VIP</h3>
								<p><strong class="value">$1000</strong/>/ month</p>
							</div>
							<!-- /plan name & value -->
							
							<!-- plan description -->
							<ul>
								<li>Everything in Silver</li>
								<li>Interactive UX</li>
								<li>Customer Engagement Dashboards</li>
								<li>Intercom Training</li>
								</ul>
							<!-- /plan description -->
							
							<!-- signup button -->
							<a class="btn btn-transparent" href="#">Signup</a>
							<!-- /signup button -->
							
						</div>
					</div>
					<!-- end single pricing table -->
				    
					
				</div>       <!-- End row -->
			</div>   	<!-- End container -->
		</section>   <!-- End section -->
	
<!--
Start Blog Section
=========================================== -->
		
<section id="blog" class="section">
	<div class="container">
		<div class="row">

			<!-- section title -->
			<div class="title text-center wow fadeInDown">
				<h2> Latest <span class="color">Posts</span></h2>
			<div class="border"></div>
			</div>
			<!-- /section title -->

			<div class="clearfix">
			
				<!-- single blog post -->
				<article class="col-md-4 col-sm-6 col-xs-12 clearfix wow fadeInUp" data-wow-duration="500ms">
					<div class="post-block">
						<div class="media-wrapper">
							<img src="images/relationships.jpg" alt="amazing caves coverimage" class="img-responsive">
						</div>
						
						<div class="content">
							<h3><a href="">How To Build a Relationship with Your Users</a></h3>
							<p>A couple of nights ago, I rewatched "Minority Report", a fantastic Sci-Fi story about a police officer fighting crime in the future. Within the film, I noticed some futuristic advertising tactics that are finally beginning to be used today.</p>
							<a class="btn btn-transparent" href="https://www.linkedin.com/pulse/invention-relationship-marketing-elisha-kramer/">Read more</a>
						</div>
					</div>						
				</article>
				<!-- /single blog post -->
				
				<!-- single blog post -->
				<article class="col-md-4 col-sm-6 col-xs-12 clearfix wow fadeInUp" data-wow-duration="500ms">
					<div class="post-block">
						<div class="media-wrapper">
							<img src="images/online.jpg" alt="amazing caves coverimage" class="img-responsive">
						</div>
						<div class="content">
							<h3><a href="">The Customer's Online Journey</a></h3>
							<p>It takes an average of 7 brand interactions before a prospective customer trusts you enough to make a purchasing decision. Are you properly engaging your users?</p>
							<a class="btn btn-transparent" href="https://www.linkedin.com/pulse/customers-online-journey-elisha-kramer/">Read more</a>
						</div>
					</div>						
				</article>
				<!-- end single blog post -->
				
				<!-- single blog post -->
				<article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
					<div class="post-block">
						<div class="media-wrapper">
							<img src="images/linkedin.jpg" alt="amazing caves coverimage" class="img-responsive">
						</div>
						
						<div class="content">
							<h3><a href="">The Best LinkedIn Growth Hacks You'll Hear All Year</a></h3>
							<p>This post is to share some growth hacking tips for LinkedIn. It's sparked by the fact that I recently noticed that LinkedIn is my number 1 platform for Social Sharing.</p>
							<a class="btn btn-transparent" href="https://www.linkedin.com/pulse/best-linkedin-growth-hacks-youll-hear-all-year-elisha-kramer/">Read more</a>
						</div>
					</div>						
				</article>
				<!-- end single blog post -->
			</div>

			<div class="all-post text-center">
				<a class="btn btn-main" href="#">View All Post</a>
			</div>

		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- end section -->
		

<!-- Srart Contact Us
=========================================== -->		
<section id="contact-us" class="contact-us section-bg">
	<div class="container">
		<div class="row">
			
			<!-- section title -->
			<div class="title text-center wow fadeIn" data-wow-duration="500ms">
				<h2>Get In <span class="color">Touch</span></h2>
				<div class="border"></div>
			</div>
			<!-- /section title -->
			
			<!-- Contact Details -->
			<div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
				<h3>Contact Details</h3>
				<p>Ready to begin scaling?</p>
				<div class="contact-details">
					<div class="con-info clearfix">
						<i class="tf-map-pin"></i>
						<span>WeWork Hazerem on HaPelech St. 7, South Tel Aviv</span>
					</div>
					
					<div class="con-info clearfix">
						<i class="tf-ion-ios-telephone-outline"></i>
						<span>Phone: +972-53-330-8841</span>
					</div>
					
					<div class="con-info clearfix">
						<i class="tf-ion-ios-email-outline"></i>
						<span>Email: help@ampitup.io</span>
					</div>
				</div>
			</div>
			<!-- / End Contact Details -->
				
			<!-- Contact Form -->
			<div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<form id="contact-form" method="post" action="sendmail.php" role="form">
				
					<div class="form-group">
						<input type="text" placeholder="Your Name" class="form-control" name="name" id="name">
					</div>
					
					<div class="form-group">
						<input type="email" placeholder="Your Email" class="form-control" name="email" id="email">
					</div>
					
					<div class="form-group">
						<input type="text" placeholder="Subject" class="form-control" name="subject" id="subject">
					</div>
					
					<div class="form-group">
						<textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>	
					</div>
					
					<div id="mail-success" class="success">
						Thank you. The Mailman is on His Way :)
					</div>
					
					<div id="mail-fail" class="error">
						Sorry, don't know what happened. Try later :(
					</div>
					
					<div id="cf-submit">
						<input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">
					</div>						
					
				</form>
			</div>
			<!-- ./End Contact Form -->
		
		</div> <!-- end row -->
	</div> <!-- end container -->

</section> <!-- end section -->
	


		
		
		<!-- end Contact Area
		========================================== -->
		
		<footer id="footer" class="bg-one">
			<div class="container">
			    <div class="row wow fadeInUp" data-wow-duration="500ms">
					<div class="col-lg-12">
						
						<!-- Footer Social Links -->
						<div class="social-icon">
							<ul class="list-inline">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-google-outline"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-youtube"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-pinterest-outline"></i></a></li>
							</ul>
						</div>
						<!--/. End Footer Social Links -->

						<!-- copyright -->
						<div class="copyright text-center">
							<a href="/#body">
								<!-- <img src="images/logo-meghna.png" alt="Meghna" />  -->
								<svg width="40px" height="40px" viewBox="0 0 45 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		                            <g id="Group" transform="translate(2.000000, 2.000000)" stroke="#57CBCC" stroke-width="3">
		                                <ellipse id="Oval" cx="20.5" cy="20" rx="20.5" ry="20"></ellipse>
		                                <path d="M6,7 L33.5,34.5" id="Line-2" stroke-linecap="square"></path>
		                                <path d="M21,20 L34,7" id="Line-3" stroke-linecap="square"></path>
		                            </g>
		                        </g>
		                    </svg>
							</a>
							<br />
							
							<p>Design And Developed by <a href="http://www.themefisher.com"> Amp It Up</a>. Copyright &copy; <script>document.write(new Date().getFullYear())</script>. All Rights Reserved.
							</p>
						</div>
						<!-- /copyright -->
						
					</div> <!-- end col lg 12 -->
				</div> <!-- end row -->
			</div> <!-- end container -->
		</footer> <!-- end footer -->

		<div id="scroll-up">
			up
		</div>
		
	    
		
		
		
		
		
		
		


		<!-- 
		Essential Scripts
		=====================================-->
		
		<!-- Main jQuery -->
		<script type="text/javascript" src="plugins/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap 3.1 -->
		<script type="text/javascript" src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- Slick Carousel -->
		<script type="text/javascript" src="plugins/slick-carousel/slick/slick.min.js"></script>
		<!-- Portfolio Filtering -->
		<script type="text/javascript" src="plugins/mixitup/dist/mixitup.min.js"></script>
		<!-- Smooth Scroll -->
		<script type="text/javascript" src="plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
		<!-- Magnific popup -->
		<script type="text/javascript" src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
		<!-- Sticky Nav -->
		<script type="text/javascript" src="plugins/Sticky/jquery.sticky.js"></script>
		<!-- Number Counter Script -->
		<script type="text/javascript" src="plugins/count-to/jquery.countTo.js"></script>
		<!-- wow.min Script -->
		<script type="text/javascript" src="plugins/wow/dist/wow.min.js"></script>
		<!-- Custom js -->
		<script type="text/javascript" src="js/script.js"></script>
		<style>
			body{
				font-size: 20px !important;
				color: white;
			}

			a {
				font-size: 20px !important;
			}
		</style>
    </body>
</html>
