<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span>User Succesfully Saved</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>
					<p id="user_email"><strong>User Email:</strong>: <%= pinterestUser.user_email %></p>
					<p id="user_password"><strong>User Email:</strong>: <%= pinterestUser.user_password %></p>
			</div>
		</div>

	</div>

</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script type='text/javascript'>
	var pinterestUser =<%-JSON.stringify(pinterestUser)%>
	console.log(pinterestUser);
	
	Cookies.set('pinterestUser', pinterestUser);

	localStorage.setItem('pinterestUser', pinterestUser);

	copy(pinterestUser);
</script>
</html>
