<div class="form-group">
    <label for="name">Insert Analytics Code</label>
    <input type="text" class="form-control" name="name" ng-model="formData.client_analytics_code">
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a class="btn btn-block btn-info" ng-click="getCreds(formData)">Get Users</a>
</div>
</div>

  <table ng-if="users">
      <thead>
      <tr>
        <td>
          User Email
        </td>
        <td>
          User Password
        </td>
        <td>
          Options
        </td>
      </tr>
    </thead>

     <tbody>
      <tr ng-repeat="user in users">
        <td>{{ user.user_email }}</a></td>
        <td>{{ user.user_password }}</a></td>
        <td ng-click="startScraping(user)">Start Scraping</td>
        
      </tr>
     </tbody>
 </table>

  <script>
    var myApp = angular.module("myApp", []);
    myApp.controller("CtrlOne", function ($scope, $http) {
      $http.get('/questions')
        .success(function(data){
        $scope.questions = data;
        console.log('These are all of the questions ',data)
      })
      .error(function(data){
    });
    });
  </script>